{% extends 'base.html' %}
{% block content %}
<!-- contents  -->
 {% load static %}
    <div class="home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)), url({% static 'img/about.jpg' %});"></div>
    <div class="col about-header">
        <h1 style="color: orange;">ABOUT US</h1>

    <div class="mt-5">
      <div class="container">

        <div class="mt-4">
            <ul><br>
                 <li>Residential integrative medical centre with different Systems of Medicine and Complementary Therapies in a single facility</li><br>
                <li>Detailed Comprehensive Holistic Health Evaluation and Indi-vidualised Treatment Programmes to treating the person</li><br>
                <li>Medical need-based Programmes for specific diseases , chronic and incurable conditions</li><br>
                <li>Wellness Programmes to relax, rejuvenate and improve health</li><br>
                <li>Medically monitored by Qualified Doctors in each System of Medicine and implemented by Well trained therapists</li><br>
                <li>Constant review of Programme, Follow Us by email, fax and telephone and Despatch of Medicines around the world</li><br>
            </ul>
        </div>
      </div>
    </div>
 </div>
<div class="col mission-header">
    <h1 style="color: orange;">OUR MISSION</h1>

    <div class="mt-5">
      <div class="container">
        <div class="mt-4">
            <ul><br>
                 <li>WAY TO MEDITATION </li><br>
                 <li>WAY TO NATURE</li><br>
                  <li>WAY TO HEALTH</li><br>
                  <li>WAY TO RELAXATION</li><br>
                  <li>WAY TO EDUCATION</li><br>
                  <li>WAY TO CONFIDENCE</li><br>
                  <li>WAY TO PERSONALITY</li><br>
                  <li>WAY TO CONFIDENCE</li><br>
                 <li>WAY TO SUCCESS</li><br>
                <li>WAY TO LIFE</li><br>
                <li>WAY TO HAPPINESS</li><br>
            </ul>
        </div>
      </div>
    </div>
</div>
{% endblock content %}