{% extends 'base.html' %}

{% block content %}
 {% load static %}
    <!-- contents -->
<main class="container my-5">
    <div class="row">
<!-- doctors list section-->
        <div class="col-sm-4">
            <h5 class="text-center alert alert-info">AVAILABLE DOCTORS</h5>
            {% for x in data %}
            <div class="col-md-6 mb-3 center">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ x.d_name }}</h5> <br>
                        <p class="card-text"><strong>Department : </strong> {{ x.d_department }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
<!--booking form-->
        <div class="col-sm-6 offset-1"> <!-- offset-1 for getting gap between two tables-->
            <h4 class="text-center alert alert-info">BOOK AN APPOINTMENT</h4>
            <form action="{%  url 'booking' %}" method="post">

                {% csrf_token %}
                <div class="form-group">

                    <label for="d_name">Doctor's Name</label>
                    <input type="text" class="form-control" id="d_name" name="d_name" placeholder="Enter doctor's name"
                        required>
                </div>

                <div class="form-group">
                    <label for="p_name">Patient's Name</label>
                    <input type="text" class="form-control" id="p_name" name="p_name" placeholder="Enter patient's name"
                        required>
                </div>
                <div class="form-group">
                    <label for="date">Date</label>
                    <input type="date" class="form-control" id="date" name="date" required>
                </div>

                <div class="form-group">
                    <label for="time">Time</label>
                    <input type="time" class="form-control" id="time" name="time" required>
                </div>
                <div class="form-group">
                    <label for="contactno">Contact Number</label>
                    <input type="text" class="form-control" id="contactno" name="contactno"
                        placeholder="Enter contact number" required>
                </div>

                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea class="form-control" id="message" name="message" rows="3"
                        placeholder="Enter description" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

        <div>
            <div>
                <div class="map-info-socials">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-skype"></i></a>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}
