{% extends 'base.html' %}

{% block content %}
{% load static %}

  <!-- contents -->
                  <!-- Add an image -->
  <img src="{% static 'images/homeo.jpg' %}" alt="Image Description" class="img-fluid">
<!--  <img src="homeo.jpg" alt="Image Description" class="img-fluid">-->

  <main class="container my-5"> <!--   This div has a vertical margin on size 5.-->
  <div class="row pa">
    <!-- col left -->

    <div class="col-sm-8 mr-5 mb-4 " style="border: 0.5px solid #ccc;">
      <br>
      <h4>JHRC</h4>
      <p style=" padding-top:15 ;">JHRC believes not simply in symptomatic relief of patients but focuses to improve the
        quality of their life
        physically, emotionally, mentally and spiritually. A well selected Homoeopathic remedy can bring back the
        balance of disrupted self- curative mechanism in you, in both acute and chronic conditions.</p>

      <p>Homoeopathy, therefore, becomes the most futuristic & efficient system of medicine to cure common cold to
        cancer without any side effects. Final selection on remedy is based on the individualisation of the patient, which is
        nothing but a genetic evaluation of patient's emotions, mental state, life style, nutrition, physical
        appearance, physical symptoms and all other aspects.</p>

      <p>High quality German medicines are used to ensure the best results. Advanced Homoeopathic softwares are used for
        analytical study. Live life to the fullest with utmost ease, because when you are at ease, you cannot have DIS -
        EASE</p>

      <H4>Family Medicine</H4>
      An age old concept but embraced by JHRC due to its growing demand in the new age and era.

      <p>This designed to guarantee health to the whole family by evaluating each member of the family with the
      aid of a comprehensive genetic evaluation. By doing so, the health status assessment of each member of the
      family is meticulously arrived at. </p>

      This assessment helps to eradicate their disease tendencies and relieve them of their nagging ailments by
      employing natural means. We thus cater to the physical, mental, emotional and spiritual health of each member of
      the family. The benefits of this approach are manifold.
      <ul>
        <li>Can correct any present anomalies immediately</li>
        <li>Can advise them regarding healthy ways of living.</li>
        <li>Can provide first aid intervention</li>
        <li>Can suggest a competent reference,if needed</li>
        <li>Can foresee complications and prevent them</li>
        <li>Can cut short expenses for treatment drastically by constant vigil and preventive measures.</li>
        <li>Can mitigate side effects significantly</li>
      </ul>

        <div class = "mt-4 p-3"style="font-size: larger;font-style: italic; font-weight:  500;  color: rgb(94, 146, 5); background-color: #e8f5e9; border-radius: 8px;">
          "JHRC is blessed with earnest services of competent doctors who can handle the family health issues
          effectively and can treat common cold to cancer with equal efficiency. So why hesitate, let's be part of a
          bigger family full of life, health and vigour."
        </div>
    </div>
    <!-- col right -->
    <div class="col-sm-3 mb-4   offset-1 " style="border: 0.5px solid #ccc; padding: 20px;"> <!-- offset-1 for getting gap between two tables-->
      <h4 class="text-center alert alert-info">OUR<br>SPECIALITY <br>TREATMENT</h4><br><br>
      <button type="button" class="btn btn-info btn-sm">Allergy</button>
      <button type="button" class="btn btn-info btn-sm">Infertility</button><br><br>
      <button type="button" class="btn btn-info btn-sm">Cancer</button>
      <button type="button" class="btn btn-info btn-sm">Liver Diseases</button><br><br>
      <button type="button" class="btn btn-info btn-sm">Mental Retardation</button><br><br>
      <button type="button" class="btn btn-info btn-sm">Endocrinology</button><br><br>
      <button type="button" class="btn btn-info btn-sm">Nutritionand Welness</button> <br><br>
      <button type="button" class="btn btn-info btn-sm">Psycharity</button>

      <button type="button" class="btn btn-info btn-sm">Skin Diseases</button><br><br>
      <button type="button" class="btn btn-info btn-sm">Neurology</button><br><br>
      <button type="button" class="btn btn-info btn-sm">Gynacology</button>
      <button type="button" class="btn btn-info btn-sm">Pulmonary Diseases</button><br><br>
      <button type="button" class="btn btn-info btn-sm">Child Development</button><br><br>
      <button type="button" class="btn btn-info btn-sm">Thyroid Diseases</button><br><br>
      <button type="button" class="btn btn-info btn-sm"> Hair Loss</button>
      <button type="button" class="btn btn-info btn-sm">Arthritis</button><br><br>
      <button type="button" class="btn btn-info btn-sm">Headache</button>
      <button type="button" class="btn btn-info btn-sm">Cholesterol</button><br><br>
      <button type="button" class="btn btn-info btn-sm">ENT ife Paediatrics</button><br><br>
      <button type="button" class="btn btn-info btn-sm">Family & Students Counseling</button>
    </div>


<!--    <div class=" row b me-5 mb-4 mt-5 " style="border: 0.2px solid;background-color: rgb(165, 219, 70);">-->
<!--      <section class="appointment-section  text-center p-3">-->
<!--        <h5>MAKE AN APPOINTMENT</h5>-->
<!--        <p style="font-style: italic;">Our Clinic has grown to provide a world-class facility.</p>-->
<!--        <a href="#" class="btn btn-light mt-3">Book Now</a>-->
<!--    </section>-->
<!--    </div>-->
</div>
</main>

{% endblock content %}
